.account {
    &__title {
        font-size: 3.5rem;
        line-height: 4rem;
        font-weight: 700;
    }

    &__lectures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    &__placeholder {
        color: var(--color-dark-80);
        width: 100%;
        margin-top: 10rem;
        text-align: center;
    }

    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: var(--color-blue);
        background: radial-gradient(circle at 0% 0%, var(--color-gray) 0%, transparent 50%), radial-gradient(circle at 100% 100%, var(--color-gray) 0%, transparent 50%), var(--color-white);
        background-blend-mode: normal;
        border-radius: 1.5rem;
        padding: 2rem;
        min-height: 10rem;
        position: relative;
        overflow: hidden;
        position: relative;
        transition: all 0.24s ease;
        border: 3px solid var(--color-background);
        cursor: pointer;

        &:hover {
            border: 3px solid var(--color-blue);
        }
    }
}