
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.env/
.venv/


.env
.env.local


docker-data/
data/


*.log
logs/

.vscode/

**/key_gen.py


.output
.data
.nuxt
.nitro
.cache
dist

node_modules

logs
*.log

.DS_Store
.fleet
.idea

.env
.env.*
!.env.example
