.ui-tag {
    background: #001c3d14;
    border-radius: 2.5rem;
    color: #5e7084;
    display: flex;
    align-items: center;
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    gap: .5rem;
    line-height: 140%;
    padding: .38rem .62rem;
    transition: all .24s ease;
}