:root {
	--color-blue: #00aeef;
    --color-blue-h: #0095cd;
    --color-blue-a: #00aeef;
    --color-white: #fff;
    --color-gray: #d5f1fb;
    --color-gray-2: #dde7ee;
    --color-gray-3: #dae6ee;
    --color-gray-4: #eaedf0;
    --color-gray-5: #f0f3f5;
    --color-background: #f2fafd;
    --color-error: red;
    --color-text-64: #a6a6a6;
    --color-white-3: #ffffff08;
    --color-white-8: #ffffff14;
    --color-white-10: #ffffff1a;
    --color-white-16: #ffffff29;
    --color-white-24: #ffffff3d;
    --color-white-40: #ffffff66;
    --color-white-56: #ffffff8f;
    --color-white-60: #ffffff99;
    --color-white-64: #ffffffa3;
    --color-white-75: #ffffffbf;
    --color-white-80: #ffffffcc;
    --color-dark: #001c3d;
    --color-dark-8: #001c3d14;
    --color-dark-10: #001c3d1a;
    --color-dark-12: #001c3d1f;
    --color-dark-50: #001c3d80;
    --color-dark-56: #001c3d8f;
    --color-dark-60: #001c3d99;
    --color-dark-64: #001c3da3;
    --color-dark-75: #001c3dbf;
    --color-dark-80: #001c3dcc;
}  	
	